# C2 Server Configuration
PORT=4444
C2_SECRET=
DASH_PASS=csec
BIND_HOST=0.0.0.0
LOG_FILE=stolen-data.log
MAX_BODY_BYTES=1048576
POLL_INTERVAL_MS=600
DATABASE_URL=postgresql://user:pass@ep-xxx.us-east-2.aws.neon.tech/neondb?sslmode=require
